<template>
  <div class="container">
    <Sidebar/>
    <Content/>
  </div>
 
</template>

<script>
import Sidebar from './components/Sidebar.vue'
import Content from './components/Content.vue'

export default {
  name: "App",
  components: {
    Sidebar,
    Content,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

</style>
