<template>
  <div class="page-content p-5" id="content">
    <div class="content-items">
      <div
        class="row height d-flex justify-content-flex-start align-items-center"
      >
        <div class="col-lg-5">
          <div class="form">
            <i class="bi bi-search"></i
            ><input
              type="text"
              class="form-control form-input"
              placeholder="Search a song... "
            />
          </div>
        </div>
      </div>
      <h4><strong>All songs</strong></h4>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col "></th>
            <th scope="col ">Title</th>
            <th scope="col ">Artist</th>
            <th scope="col ">Album</th>
            <th scope="col ">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th id="playpause-icon" scope="row ">
              01
              <div><i class="bi bi-play-fill"></i></div>
            </th>
            <td>Some title</td>
            <td>Artist name</td>
            <td>Album name</td>
            <td>3:00</td>
          </tr>
          <tr>
            <th id="playpause-icon" scope="row ">
              02
              <div><i class="bi bi-play-fill"></i></div>
            </th>
            <td>Some title</td>
            <td>Artist name</td>
            <td>Album name</td>
            <td>3:00</td>
          </tr>
          <tr>
            <th id="playpause-icon" scope="row ">
              03
              <div><i class="bi bi-play-fill"></i></div>
            </th>
            <td>Some title</td>
            <td>Artist name</td>
            <td>Album name</td>
            <td>3:00</td>
          </tr>
          <tr>
            <th id="playpause-icon" scope="row ">
              04
              <div><i class="bi bi-play-fill"></i></div>
            </th>
            <td>Some title</td>
            <td>Artist name</td>
            <td>Album name</td>
            <td>3:00</td>
          </tr>
          <tr>
            <th id="playpause-icon" scope="row ">
              05
              <div><i class="bi bi-play-fill"></i></div>
            </th>
            <td>Some title</td>
            <td>Artist name</td>
            <td>Album name</td>
            <td>3:00</td>
          </tr>
        </tbody>
      </table>

      <MusicPlayerUI/>

    </div>
  </div>
</template>

<script>
import MusicPlayerUI from './MusicPlayerUI.vue'

export default {
  name: "Content",
  components:{
    MusicPlayerUI,
  },
};
</script>

<style scoped>
.page-content {
  margin-left: 17rem;
  transition: all 0.4s;
}

/* search box */

.form {
  position: relative;
  margin-bottom: 50px;
}

.form .bi-search {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #9ca3af;
}

.form-input {
  height: 45px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

#playpause-icon {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 992px) {
  body {
    padding-top: 0;
  }
  .page-content {
    margin-left: 0px;
  }
  .form {
    margin-top: 50px;
  }
}
</style>