<template>
  <div class="music-player">
    <div class="slider-container">
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100" value="0" class="slider" />
      <div class="total-duration">00:00</div>
    </div>
    <div class="buttons">
      <div class="prev-track">
        <i class="bi bi-skip-backward fa-lg"></i>
      </div>
      <div class="playpause-track">
        <i class="bi bi-play-fill fa-3x icon-blue"></i>
      </div>
      <div class="next-track"><i class="bi bi-skip-forward fa-lg"></i></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MusicPlayerUI",
};
</script>

<style scoped>
.music-player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
  background: #c4c4c4;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.icon-blue {
  color: #76b6fc;
}

i.bi-play-fill,
i.fa-pause-circle,
i.bi-skip-forward,
i.bi-skip-backward {
  cursor: pointer;
}
</style>