<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-left">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbar">
        <div class="user-profile">
          <img
            class="user-profile-picture"
            src="../assets/userprofile.png"
            alt=""
          />
          <h5>User Name</h5>
          <h6>useremail@gmail.com</h6>
        </div>

        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="#uploadMusicModal" data-target="#uploadMusicModal" data-toggle="modal" class="nav-link text-dark bg-light" id="uploadMusic">
              <i class="bi bi-upload"></i> Upload Music</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-light">
              <i class="bi bi-list-ul mr-3"></i> All songs</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-dark bg-light"
              id="createPlaylist"
              href="#createPlaylistModal" data-target="#createPlaylistModal" data-toggle="modal"><i class="bi bi-pencil-square"></i>Create Playlist</a>
            <ul style="list-style: none" id="createPlaylistSubmenu ">
              <li>
                <a class="nav-link text-dark font-italic bg-light" href="#">Playlist 1</a>
              </li>
              <li>
                <a class="nav-link text-dark font-italic bg-light" href="# ">Playlist 2</a>
              </li>
              <li>
                <a class="nav-link text-dark font-italic bg-light" href="# ">Playlist 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <UploadMusicModal/>  
    <CreatePlaylistModal/>
  </div>
</template>

<script>
import UploadMusicModal from './UploadMusicModal.vue'
import CreatePlaylistModal from './CreatePlaylistModal.vue'

export default {
  name: "Sidebar",
  components:{
    UploadMusicModal,
    CreatePlaylistModal,
  },
};
</script>

<style scoped>

.navbar{
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

i {
  margin-right: 10px;
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.user-profile {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.user-profile h5,
h6 {
  color: #9d9e9e;
}

.user-profile-picture {
  border-radius: 50%;
  width: 100px;
}

@media (max-width: 992px) {
  .navbar{
      box-shadow: none;
  }
}

@media (min-width:992px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0;
    }
}

@media (min-width:992px) {
    .navbar.fixed-left {
        right: auto;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}
</style>