<template>

    <!-- Modals -->
    <div>
        <div class="modal fade" id="uploadMusicModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header pt-2 pb-2">
                        <h6 class="modal-title">Upload music</h6>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Drag and Drop files here</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Upload</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    name: 'UploadMusicModal',
}
</script>

<style scoped>

.modal-header {
    background-color: #76B6FC;
}
.modal-title{
    color: #fff;
}
.close{
  color: #fff;
  border: none;
  background: none;
}

</style>