body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
}

.user-profile {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.user-profile h5,
h6 {
    color: #9d9e9e;
}

.user-profile-picture {
    border-radius: 50%;
    width: 100px;
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
}

.nav-item {
    padding-top: 10px;
}

#playpause {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}


/* search box */

.form {
    position: relative;
    margin-bottom: 50px;
}

.form .fa-search {
    position: absolute;
    top: 14px;
    left: 20px;
    color: #9ca3af;
}

.form-input {
    height: 45px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}


/*modal*/

.modal-header {
    background-color: #76B6FC;
    color: #fff;
}
.modal-title{
    color: #fff;
}

.close {
    color: #fff;
}


/*music player UI*/

.music-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
    background: #C4C4C4;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

i.bi-play-fill,
i.fa-pause-circle,
i.bi-skip-forward,
i.bi-skip-backward {
    cursor: pointer;
}

.icon-blue {
    color: #76B6FC;
}

@media (min-width:768px) {
    body {
        padding-top: 0;
    }
}

@media (min-width:768px) {
    body {
        margin-left: 232px;
    }
}

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

@media (min-width:768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0;
    }
}

@media (min-width:768px) {
    .navbar.fixed-left {
        right: auto;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%;
    }
}