.navbar{
    font-family: 'Poppins';font-size: 16px;
    background-color: #A9BCC3;   
}
.bi-cart2{
    padding-left:10px;
}
.bi-search{
    padding-left:50px;
}

.section-1{
    background-color: #A9BCC3;  
}

.btn1{
    background-color: #595959
}

h2, p{
   color: #595959;
}

.arrw-previous, .arrw-next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #595959;
  color: white;
}

.arrw-previous:hover, .arrw-next:hover {
  background-color: #ddd;
  color: black;
}

.round {
  border-radius: 50%;
}

.select-fashion{
  width: 15%;
  display: grid;
  justify-content: space-around;
  position: absolute;
  left: 88%;
  top: 70%;
  padding: 20px;
}

.h6{
  text-align:center;
  color: #595959;
  
}

.card-products{
  background-color: #F1F1F1;
}

.card-shipping{
  background-color: #A9BCC3;
}

.footer{
  background-color: #A9BCC3;
}